@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  font-family: "Raleway", sans-serif;
  word-break: break-word;
  background-color: #aba9bc;
  background-color: #c8c7e7;
  }

button,
input,
textarea {
    font-family: "Raleway", sans-serif;
  font-size: 14px;
}

p {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif;

}

ul {
  list-style-type: none;
}

ul li {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* 
for Blue color #4e0416  #0c3b2e  #10475e  #ffefcd 
for body #c8c7e7
#a58e74
#e09132
*/

/* Global CSS End */

/*Header CSS Start */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
}

.logo {
  text-align: center;
  width: 40%;
}


.logo img {
  width: 100%;
  height: 100%;
  text-align: center;
  max-width: 230px;
  vertical-align: middle;
  padding: 5px 0;
}

.main-navbar ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.desktop-menu-option-hide {
  display: none;
}

.desktop-navlist {
  width: 100%;
}

.main-navbar ul li a {
  padding: 10px;
  display: inline-block;
  color: #545556;
  transition: 0.5sec all ease-in;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.main-navbar .dropdown li a {
  line-height: normal;
}

.dropdown-arrow {
  margin-left: 10px;
}
 .button-dropdown {
  position: relative;
}


.contact {
  text-align: right;
  width: 30%;
}

.contact ul li a {
  font-size: 18px;
  font-weight: 500;
}


.main-navbar ul li a:hover {
  border-color: #fff;
  transform: translateX(2px);
}


.site-header.fixed-header {
background-color: #1c9290;
background-color: #e09132;
  border-bottom: none;
}

.site-header.fixed-header .contact ul li a {
  font-weight: 500;
}

.desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
}

.menu-icon-container {
  width: 30%;
}
.menu-icon {
  display: none;
  color: #fff;
  text-align: right;
  cursor: pointer;
  margin: auto 0;
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  padding: 10px 15px;
  border: 1px solid #fff;
  transition: 0.3s all ease-in-out;
}

.menu-icon:hover {
  border-radius: 50%;
}


.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  background-color: #1c9290;
  transform: translateX(-100%);
  transition: all 0.7s ease;
  z-index: 50;
  justify-content: flex-start;
  color: #fff;
}


.main-navbar>ul {
  flex-direction: column;
  z-index: 50;
  width: 100%;
  gap: 0;
  justify-content: flex-start;
  padding: 50px 10px;
}

.main-navbar ul li a {
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid transparent;
}


.main-navbar ul li a.active {
  border-color: #fff;
}


.menuToggle .main-navbar {
  transform: translateX(0);
}


.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  color: #fff;
  text-align: end;
  z-index: 51;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.close-icon:hover {
  border-radius: 50%;
}


/* Header CSS End */


/* Banner Section CSS Start */
.banner {
  position: relative;
}

.banner-image {
  height: 650px;
  width: 100%;
}

.banner-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0 0 0/70%);
  background-blend-mode: multiply;
  overflow: hidden;
}

.banner-text h1 {
  font-size: 55px;
  color: #fff;
  display: block;
  font-weight: 700;
  text-transform: capitalize;
}

.banner-text-group {
  opacity: 0;
  text-align: center;
  transform: scale(0) translateX(200%);
  opacity: 0;
  animation: slide-in-anim 2.5s ease-out forwards;

}

@keyframes slide-in-anim {


  50% {
    opacity: 1;
    transform: scale(1.3) translateY(50px) translateX(0);
  }


  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* Banner Section  CSS End */

/* Home Page Content Section CSS Start */
.home-page-content {
  padding: 45px 0;
}

.home-page-content-text p {
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
}

/* Home Page Content Section CSS End */

/* Home Page Cards Section CSS Start*/
section.home-page-cards-section {
  padding: 0 0 25px 0;
}

.home-page-cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-page-cards {
  width: 31%;
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 5px;
}

.home-page-cards:hover .home-page-cards-image img {
  transform: scale(1.2);
}


.home-page-cards-image {
  height: 350px;
  width: 100%;
}

.home-page-cards-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.home-page-cards-content {
  text-align: center;
}

.home-page-cards-content a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0 0 0/60%);
  background-blend-mode: multiply;
  color: #fff;
  font-size: 22px;
}
/* Home Page Cards Section CSS End */


/* Footer CSS Start */
.footer {
  background-image: url("../images/footer-bg.jpg");
  background-color: rgba(0 0 0/80%);
  background-position: center;
  background-blend-mode: multiply;
  padding: 40px 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 30px;
  overflow: hidden;
}
.logo-bottom img {
  width: 100%;
  max-width: 230px;
}

.footer-items {
  width: 30%;
  padding: 0 30px;
}

.logo-bottom {
  text-align: center;
}

.footer-items h3 {
  font-size: 25px;
  margin-bottom: 12px;
  color: #1c9290;

}

.footer-items .social-icons {
  width: 100%;
  margin: 0px auto;
}


.footer-items ul li a {
  padding: 7px 0;
  color: #fff;
}
.footer .footer-items ul li a {
  border-bottom: 1px solid transparent;
  transition: 0.6s all ease;
}
.footer .footer-items ul li a.active {
  border-color: #fff;
}

.footer .footer-items ul li a:hover {
  border-bottom: 1px solid #1c9290;
  transform: translateX(5px);
  color: #30d5c8;
}

.copyright {
  padding: 15px 0;
  text-align: center;
  margin: auto 0;
  border-top: 1px solid #1c9290;
  border-bottom: 1px solid #1c9290;
}

.copyright p {
  color: #fff;
  text-align: center;
  font-size: 15px;
}

/* Footer CSS End */

/* Social Icons CSS Start */
.social-icons {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icons i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 17px;
  background-color: #fffcfc;
  line-height: normal;
  margin: 0 1px;
  transition: 0.3s all ease-in-out;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.social-icons i:hover {
  color: #fff;
  background-color: #1c9290;
    transform: translateY(2px);
}

/* Social Icons CSS End */


/* Pages CSS Start */
.pages-banner-image {
  height: 500px;
}

.pages-banner-text h1 {
  font-size: 45px;
  font-weight: 600;
}

.pages-banner-text h2 {
  font-size: 27px;
  font-weight: 600;
}

.pages-banner-text-group {
  animation: slideside 2s ease-in-out forwards;
  opacity: 0;
  transform: translateX(200%);
  text-align: center;
  overflow: hidden;
}

 .pages-banner-text {
  background-color: rgba(0 0 0/60%);
}

@keyframes slideside {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.pages-intro {
  padding-top: 50px;
}

.pages-intro-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.pages-intro-wrapper p {
  margin-bottom: 10px;
  font-size: 17px;
  text-align: center;
}

.pages-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #383230;
  background-color: #383852;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 13px -20px, rgba(0, 0, 0, 0.3) 0px 30px 15px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.pages-cards:hover .pages-cards-image img {
  transform: scale(1.2);
}

.pages-cards:last-child {
  margin-bottom: 0;
}

.pages-cards:nth-child(even) {
  flex-direction: row-reverse;
}

.pages-cards-image {
  width: 40%;
  overflow: hidden;
  border-radius: 10px;
}

.pages-cards-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.6s ease-in-out;
}

.pages-cards-content {
  width: 60%;
  padding: 20px;
  color: #fff;
}

.pages-cards-content ul li {
  display: flex;
  align-items: flex-start;
}

.pages-cards-content ul li,
p {
  margin-bottom: 10px;
}

.pages-cards-text-group {
  margin: 14px 0px;
}

.pages-cards-text-group p {
  margin-bottom: 5px;
}

.pages-cards-text-group p:last-child {
  margin-bottom: 0;
}

.heading-like {
  font-weight: 600;
  color: #1c9290;
} 

.list-icon {
  color: #1c9290;
  margin-right: 10px;
  display: inline-block;
  margin-top:5px;
  min-width: 13px;
  font-size: 13px;
}

.pages-cards-section {
  padding: 50px 0;
}

.pages-after-cards-text-section {
  padding-bottom: 50px;
}

.pages-after-cards-text-wrapper p {
  margin: 0 auto 10px auto;
  max-width: 1100px;
  text-align: center;
  font-size: 17px;
}

.pages-after-cards-text-wrapper p:last-child {
  margin-bottom: 0;
}

.pages-link-btn {
  display: inline-block;
  margin: 10px;
  background-color: #1c9290;
  outline: none;
  padding: 10px 15px;
  transition: 0.3s all ease-in-out;
  min-width: 115px;
  line-height: normal;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 400;
  color: #000;

}

.pages-link-btn:hover {
  transform: scale(1.05);
  border-radius: 10px;
}


/* Contact Us CSS Start */
section.contact-us-content {
  padding: 50px 0;
}

.contact-us-wrapper h2 {
  text-align: center;
  margin: 0 auto 35px auto;
}

.contact-us-group {
  padding: 15px;
  border: 1px solid #c7c9cb;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #383230;
  color: #fff;
}

.contact-us-group:last-child {
  margin-bottom: 0;
}

.contact-us-group h3 {
  margin-bottom: 8px;
  font-size: 22px;
  color: #1c9290;
}

.contact-us-group p {

  margin-bottom: 10px;
}

.contact-us-group ul {
  margin-bottom: 8px;
}

.contact-us-group ul li {

  list-style: disc;
  margin-left: 17px;
  margin-bottom: 10px;
}

.contact-us-group ul li a,
.contact-us-group p a {
  color: #1c9290;
}

.contact-us-group ul li a:hover,
.contact-us-group p a:hover {
  color: rgb(246, 75, 75);
}
/* Contact Us CSS End */

/* Privacy Policy Page CSS Start */
.privacy-policy {
  padding: 40px 0;
}

.privacy-policy-group {
  padding: 20px 25px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: #383230;
  color: #fff;
}

.privacy-policy-group:last-child {
  margin-bottom: 0;
}

.privacy-policy-group h3 {
  font-size: 22px;
  margin-bottom: 11px;
  color: #1c9290;

}
.privacy-policy-group h4 {
  font-size: 17px;
  margin-bottom: 11px;
  color: #1c9290;

}


.privacy-policy-group p {
  margin-bottom: 10px;

}

.privacy-policy-group p a {
  color: #1c9290;
   font-weight: 600;
}

.privacy-policy-group p a:hover,
.privacy-policy-group ul li a:hover {
  color: red;
}

.privacy-policy-group ul li {
  list-style-type: disc;
  margin-left: 16px;
  margin-bottom:12px;
}

.privacy-policy-group ul li a {
  color: #1c9290;
}

/* Privacy Policy Page CSS Start */


/* Terms Conditons CSS Start */
.terms-conditions-content {
  padding: 50px 0;
}

.terms-conditions-wrapper>p {
  margin: 0 auto 15px;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px;
  display: inline-block;
  margin: o auto;
}

.terms-conditions-group {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #383230;
  color: #fff;
}

.terms-conditions-group:last-child {
  margin-bottom: 0;
}

.terms-conditions-group h2 {
  margin-bottom: 8px;
  color: #1c9290;
}

.terms-conditions-group h3 {
  margin-bottom: 8px;
  font-size: 22px;
  color: #1c9290;
}

.terms-conditions-group h4 {
  margin-bottom: 8px;
  font-size: 16px;
}

.terms-conditions-group p {

  margin-bottom: 10px;
}

.terms-conditions-group p a {
  color: #1c9290;
  font-weight: 600;
}

.terms-conditions-group p a:hover {
  color: red;
}

.terms-conditions-group ul {
  margin-bottom: 8px;
}

.terms-conditions-group ul li {

  list-style: disc;
  margin-left: 17px;
  margin-bottom: 10px;
}

/* Terms Conditons CSS End */
/* Pages CSS End */



/* Cookies CSS Start */
#cookie-bar {
  background-color:#1c9290;
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0;
  width: 100%;
  color: #000;
}

#cookie-bar p {
  width: 85%;
  float: left;
  display: block;
  line-height: 24px;
  color: #fff;
}

#cookie-bar button {
  float: right;
  background:#8ceaed;
  border: none;
  padding: 15px 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
  color: #000;
}

#cookie-bar button:hover {
  color: #1c9290;
  background: #fff;

}

#cookie-bar a {
  color: #000;
  font-weight: bold;
}

#contentcookie {
  padding: 20px 50px;
  width: 80%;
  margin: auto;
}

.clear {
  clear: both;
}

/* Cookies CSS End */

